<p>Skill Level: <%= @skill_level.current_level %></p>
<p><span class="label label-success"><%= @question.tense.titleize %> Tense</span></p>
<p><%= @question.spanish_sentence %> <strong>(<%= @question.verb.spanish %>)</strong></p>
