
  <tr>
    <td>No voy a llorar y decir que no merezco esto</td>
    <td>I'm not going to cry and say I don't deserve this,</td>
  </tr>

  <tr>
    <td>porque es probable que lo merezco pero no lo quiero</td>
    <td>because it's probable that I deserve it, but I don't want it.</td>
  </tr>

  <tr>
    <td>por eso me voy que lastima pero adios</td>
    <td>So I'm leaving, what a shame, but goodbye.</td>
  </tr>

  <tr>
    <td>me despido de ti y me voy</td>
    <td>I'm saying goodbye to you and I'm leaving,</td>
  </tr>

  <tr>
    <td>que lastima pero adios me despedio de ti</td>
    <td>what a shame, but goodbye. I'm saying goodbye to you.</td>
  </tr>

