<h1 class='centerize whiteify'>Me Voy</h1>

<br />

<div class="col-md-12">
  <select class="audio-player-speed">
    <option value="1">100%</option>
    <option value="0.9">90%</option>
    <option value="0.8">80%</option>
    <option value="0.7">70%</option>
    <option value="0.6">60%</option>
    <option value="0.5">50%</option>
  </select>

  <%= audio_tag "jv.mp3", controls: true, class: "audio-player" %>
</div>

<%= video_tag "me_voy_video.mp4", controls: true, class: "audio-player" %>

<br />

<table class="whiteify table table-responsive borderless">

  <tr>
    <td>Porque no supiste entender a mi corazon</td>
    <td>Why didn't you find out how to understand my heart</td>
  </tr>

  <tr>
    <td>Lo que habia en el</td>
    <td>and what was in it?</td>
  </tr>

  <tr>
    <td>porque no tuviste el valor de ver quien soy</td>
    <td>Why didn't you have the courage to see who I am?</td>
  </tr>

  <tr>
    <td>porque no escuchas lo que esta tan cerca de ti</td>
    <td>Why don't you listen to what is so close to you?</td>
  </tr>

  <tr>
    <td>sólo el ruido de afuera y yo</td>
    <td>Only the noise outside, and me,</td>
  </tr>

  <tr>
    <td>que estoy a un lado desaparezco para ti</td>
    <td>off to the side, I'm disappearing for you.</td>
  </tr>

  <tr>
    <td></td>
    <td></td>
  </tr>

  <%= render 'me_voy_chorus' %>

  <tr>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Porque se que me espera algo mejor</td>
    <td>Because I know that something better is waiting for me,</td>
  </tr>

  <tr>
    <td>alguien que sepa darme amor</td>
    <td>someone who knows how to give me love,</td>
  </tr>

  <tr>
    <td>de ese que endulza la sal y hace que salga el sol</td>
    <td>something that makes salt sweeter and makes the sun rise.</td>
  </tr>

  <tr>
    <td>yo que pense nunca me iría de ti</td>
    <td>Me, that thought I would never leave you,</td>
  </tr>

  <tr>
    <td>que es amor del bueno de toda la vida</td>
    <td>that this love was good and for life,</td>
  </tr>

  <tr>
    <td>pero hoy entendí que no hay suficiente para los dos</td>
    <td>but today I learned that there isn't enough for us both.</td>
  </tr>

  <tr>
    <td></td>
    <td></td>
  </tr>

  <%= render 'me_voy_chorus' %>

  <tr>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Me voy que lastima pero adios</td>
    <td>I'm leaving, what a shame, but goodbye,</td>
  </tr>

  <tr>
    <td>me despido de ti y me voy</td>
    <td>I'm saying goodbye to you and I'm leaving</td>
  </tr>

  <tr>
    <td>que lastima pero adios</td>
    <td>what a shame, but goodbye,</td>
  </tr>

  <tr>
    <td>me despido de ti y me voy</td>
    <td>I'm saying goodbye to you and I'm leaving</td>
  </tr>

  <tr>
    <td>que lastima pero adios</td>
    <td>what a shame, but goodbye,</td>
  </tr>

  <tr>
    <td>me despido de ti</td>
    <td>I'm saying goodbye to you</td>
  </tr>

  <tr>
    <td>me voy</td>
    <td>I'm leaving</td>
  </tr>

  <tr>
    <td>que lastima pero adios</td>
    <td>What a shame, but goodbye.</td>
  </tr>

  <tr>
    <td>me despido de ti</td>
    <td>I'm saying goodbye to you</td>
  </tr>

  <tr>
    <td>me voy</td>
    <td>I'm leaving.</td>
  </tr>

</table>

