<div class="row col-md-4 col-md-offset-4">
  <% @definitions.each do |definition| %>
    <p>
      <%= link_to definition.exam_name, set_exam_definition_path(exam_definition_id: definition.id), method: :post, class: "btn btn-lg btn-success centerize" %>
    </p>
  <% end %>
</div>

