<p class="whiteify centerize main-text">Correct answer: <%= @noun_answer.correct_answer %></p>
<p class="whiteify centerize main-text">Your answer: <%= @noun_answer.user_answer %></p>

<div class='row col-md-12'>
  <div class="row col-md-4 col-md-offset-4">
    <%= link_to "Next question", noun_quiz_question_path(@noun_answer.noun_quiz_id), class: "btn btn-lg btn-success centerize main-text", id: "next-question" %>
  </div>
</div>

