<p class="whiteify centerize main-text">Percent Correct: <%= @quiz.pretty_percent_correct %>%</p>
<p class="whiteify centerize main-text">Correct Answers: <%= @quiz.correct_answers %></p>
<p class="whiteify centerize main-text">Incorrect Answers: <%= @quiz.incorrect_answers %></p>

<div class='row col-md-12'>
  <div class="row col-md-6 col-md-offset-3">
    <%= link_to "Take Another Quiz", {controller: params[:controller], action: "new"}, class: "btn btn-lg btn-success centerize main-text" %>
  </div>
</div>

