<section id="fun-person" class="bg-light-gray">

    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Fun Person</h2>
                <p class="lead">By memorizing the 1,000 most common Spanish words — that’s just ten per day for 100 days — you can master 88% of oral speech.</p>
                <p class="lead">Solid foundations help you build knowledge faster. Our tests and quizzes focus on giving you the right building blocks at the right times, guiding you on the most logical path to Spanish mastery.</p>
            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag "stock/words.jpg", class: "img-responsive", alt: "" %>
            </div>

        </div>
    </div>

</section>


