<section id="eafit-graduate">

    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">EAFIT Graduate</h2>
                <p class="lead">We learn Spanish so we can SPEAK Spanish. Oral communication is crucial — for your own practice, and to help you develop an ear for the language.</p>
                <p class="lead">When you’re ready to take the next step, we offer private Skype lessons with native Spanish speakers to start testing (and improving) your skills.</p>
            </div>

            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <%= image_tag "stock/computer_conversation.jpg", class: "img-responsive", alt: "" %>
            </div>

        </div>
    </div>

</section>


