<!-- Header -->
<header id="liz-header">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Need an awesome Spanish teacher?</div>
            <div class="intro-heading">Meet Liz!</div>
            <%= link_to "Take Your Free Quiz", start_exam_path, class: "page-scroll btn btn-xl" %>
        </div>
    </div>
</header>

