<section id="mission" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Take the Practical Path to Spanish Mastery</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p class="large text-muted">Vladimir Nabakov penned Lolita in his second language. Joseph Conrad wrote Heart of Darkness in his third. And, if you look around, you’ll find that most Spanish-learning programs seem designed to help you write a Spanish-language novel — next week. Which is why these programs inevitably fail.</p>
                <p class="large text-muted">Take, for example, this “beginner’s” Spanish guide that teaches you the word “el gerente” (“manager”) on page five. Unless you plan on playing baseball in Latin America, the word “el gerente” wouldn’t even crack the top 5,000 most frequently used Spanish words. Learning a language takes valuable time, so why spend it learning what you can’t even use?</p>
                <p class="large text-muted">The way we understand language has evolved, but most Spanish teaching programs remain unchanged over the past twenty years. That’s why we’ve created a modern, practical way to learn Spanish — a program based on logic rather than tradition. If you’re looking to start speaking Spanish FASTER, then you’ve come to the right place.</p>
                <p class="large text-muted">We’re programmers by trade and language-enthusiasts at heart. Using a combination of academic research and modern technology, we’ve created an elegant, personalized solution to help you learn Spanish. Our diagnostic teaching software makes learning Spanish easy, fun, and (most of all) fast.</p>
                <p class="large text-muted">
                  Building your knowledge of language is just like building anything else. Just as a skyscraper needs solid foundations, your Spanish will benefit from mastering the basics first. By giving you knowledge in the right order, we help you ensure a smoother (and faster) process down the road. The cornerstones of our program account for a few fundamental facts, including:
                  <ul class="large text-muted">
                    <li>If you learn the 1,000 most common Spanish words, you will understand 88% of oral speech.</li>
                    <li>The past tense accounts for 40% of oral speech (compared to 10% for the future tense).</li>
                    <li>The verbs “to be” (ser and estar) and “to have” (tener and haber) have many more uses than
standard verbs.</li>
                  </ul>
                </p>
                <p class="large text-muted">Our constant focus: creating the most logical way for you to learn Spanish. As you progress through the tests and quizzes, you’ll find resources to build your knowledge even more — such as personalized feedback on where you need work, and private Skype lessons with native Spanish speakers (because practice makes perfect).</p>
                <p class="large text-muted">It’s free to get started, easy to learn, and fun to keep going. Start learning Spanish today!</p>
            </div>
        </div>
    </div>
</section>

