<h2>You finished the noun exam!</h2>

<div class='row col-md-12'>
  <div class="row col-md-6 col-md-offset-3">
    <%= link_to "Take Another Noun Quiz", new_noun_quiz_path, class: "btn btn-lg btn-success centerize main-text" %>
  </div>
</div>
