p img {
  height: 1.5em;
  width: 1.5em;
}

.right-answer, .wrong-answer {
  height: 10em;
}

.answer-sentences {
  padding-top: 2em;
  padding-bottom: 1em;
}

.answer-shortcut-hint {
  padding-top: 1em;
}
