body {
  background-color: #428bca;
}

form p {
  color: black;
}

.check-answer {
  display: inline;
}

.user-answer {
  display: inline-table;
}

.answer-hint {
  font-size: 0.7em;
  font-style: italic;
  vertical-align: text-top;
}

#answer_user_answer {
  text-align: center;
}
